Language: Cpp
AlignEscapedNewlines: Left
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Inline
AlwaysBreakTemplateDeclarations: Yes
BinPackArguments: false
BinPackParameters: false
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeBraces: Attach
IndentCaseLabels: true
IndentGotoLabels: false
IndentPPDirectives: BeforeHash
NamespaceIndentation: All
SpaceBeforeCpp11BracedList: true
SortIncludes: false
KeepEmptyLinesAtTheStartOfBlocks: false
